metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "sqlite"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3901"
rpc_secret = "9587be3823f93f77afaa48c207a16146f0736548cb346edec44de3b4a1dce1de"

[s3_api]
s3_region = "us-east-1"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "LGpqMj2JhT+BDdDxr2fekXp+0DJccDcDKYoqDK/+p8M="
metrics_token = "/y0DByvh6khynEXkd1qhtlNh4pvAH8l6A1GBSZwbAyQ="
